<ion-header>
  <ion-toolbar>
    <ion-title>Receipts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="receipts.length > 0; else noReceipts">
    <ion-item *ngFor="let receipt of receipts">
      <ion-label>
        <h2>{{ receipt.store_name }}</h2>
        <p>{{ receipt.location }}</p>
        <p>Bottles: {{ receipt.bottle_count }} | €{{ receipt.total_amount }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noReceipts>
    <p>No receipts found.</p>
  </ng-template>
</ion-content>
