:host {
  display: block;
  font-family: 'Roboto Mono', Courier, monospace; /* Printed receipt look */
  padding: 15px;
  border-radius: 5px;
}

.receipt-container {
  background: url('/assets/resources/Receipt.svg') no-repeat center top / contain;
  padding: 30px;
  width: 80%;
  max-width: 320px;
  min-height: 400px; /* Adjust height if needed */
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

.receipt-logo {
  width: 50px; /* Adjust based on the logo size */
  height: auto;
  margin-bottom: 10px;
}


.receipt-item {
  padding: 8px 0;
  border-bottom: 1px dashed #333; /* Simulate a printed receipt line */
}

.receipt-header {
  color: #444;
  font-weight: bold;
  font-size: 1.2rem;
}

.receipt-details {
  font-size: 0.9rem;
  color: #444;
}

.receipt-footer {
  color: #444;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 15px;
 
}

.receipt-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures full page height */
}