<div class="receipt-card">
  <div class="receipt-background">
    <div class="receipt-content">
      <div class="left">
        <img [src]="getStoreLogo(receipt.store_name)" class="store-logo" />
        <div class="info">
          <div class="store-name">{{ receipt.store_name }}</div>
          <div class="location">{{ receipt.location }}</div>
          <div class="points">{{ receipt.bottle_count }} Points</div>
        </div>
      </div>

      <div class="right">
        <div class="total-label">TOTAL</div>
        <div class="total-amount">€{{ receipt.total_amount }}</div>
        <a class="view-barcode" (click)="viewReceipt(receipt.id)">View Barcode</a>
      </div>
    </div>
  </div>
</div>
