<ion-content [fullscreen]="true" [scrollY]="false">
  <app-header [mainText]="''" [subText]="'Simple Scanning, Smart Saving'" [imgSrc]="'assets/icon/icon.svg'"></app-header>
  
  <div class="nav-container">
    <div class="actions-grid">
      <div class="button-wrapper">
        <button class="action-button scan-action" (click)="takePicture()">
          <ion-icon name="scan-outline"></ion-icon>
          <span>Scan Receipt</span>
        </button>
      </div>
      <div class="button-wrapper">
        <button class="action-button view-action" routerLink="/receipts">
          <ion-icon name="albums-outline"></ion-icon>
          <span>View Receipts</span>
        </button>
      </div>
      
      <div class="button-wrapper">
        <button class="action-button stats-action" routerLink="/stats">
          <ion-icon name="bar-chart-outline"></ion-icon>
          <span>Analytics</span>
        </button>
      </div>
    </div>
  </div>
  
  <app-info-modal *ngIf="showInfoModal" (close)="handleModalClose()"></app-info-modal>
  
  <!-- Loading overlay -->
  <div class="loading-overlay" *ngIf="isLoading">
    <div class="loading-content">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
      <p>{{ loadingMessage }}</p>
    </div>
  </div>
</ion-content>
