:host {
  --background: #ffa4a4;
  background-color: #f49f9f;
}

ion-app {
  background-color: #f9a9a9 !important;
}

ion-content {
  --padding-top: env(safe-area-inset-top);
  --padding-bottom: env(safe-area-inset-bottom);
}

ion-header {
  padding-top: env(safe-area-inset-top);
}

ion-footer {
  padding-bottom: env(safe-area-inset-bottom);
}
